# --- Ignore everything by default ---
*

# --- But keep these files/folders ---
!.gitignore
!README.md
!main.py
!Description.pdf


# --- Ignore LaTeX build files and venv ---
Description.*
!Description.pdf
venv/
